body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  background: #f5f5f5;
}


header {
  background: #094a93;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}


.nav-links a:hover {
  text-decoration: underline;
  color: #007b8b;
}


#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: white;
}


.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}


section {
  padding: 20px;
  margin-top: 10px;
}


h2 {
  margin-bottom: 10px;
}


.skills-box {
  display: flex;
  gap: 10px;
}


.card {
  background: #094a93;
  color: white;
  padding: 15px;
  text-align: center;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.project-card {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}


form {
  background: white;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  border: 1px solid #ddd;
}


input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #094a93;
}


button {
  width: 100%;
  padding: 10px;
  background: #094a93;
  color: white;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


button:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


footer {
  background: #094a93;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


#backtop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #094a93;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#backtop:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.highlight {
  color: #ff6b40;
  animation: colorChange 3s infinite alternate;
}


@keyframes colorChange {
  0% { color: orange; }
  25% { color: green; }
  50% { color: red; }
  75% { color: blue; }
  100% { color:yellow; }
}